* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 940px;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row > div {
    background-color: lightgray;
}

.col1 {
    height: 200px;
    width: 220px;
}

.col2 {
    height: 100px;
    width: 100px;
}

.col3 {
    height: 250px;
    width: 700px;
}

.col4 {
    height: 250px;
    width: 220px;
}

.col5 {
    height: 250px;
    width: 460px;
}