*{
   box-sizing: border-box;
   position: relative;
}

main{
   width: 600px;
   height: 600px;
   margin: 0 auto;
}
.row{
   border: 4px black solid;
   margin: 0 auto;
   width: 100%;
   height: 200px;
}
.col-1{
   border: 3px black solid;
   width: 232px;
   height: 196px;
   float: left;

}
.col-2{
   border: 3px black solid;
   background: white;
   width: 150px;
   height: 196px;
   float: left;
}
.col-3{
   border: 3px black solid;
   background: white;
   width: 210px;
   height: 196px;
   float: left;
}
.rm1{
   border: 3px black solid;
   background: white;
   width: 145px;
   height: 50px
}
.rm2{
   border: 3px black solid;
   background: #86aade;
   width: 145px;
   height: 140px
}
.c1{
   border: 3px black solid;
   background: white;
   width: 65px;
   height: 189px;
   float:left;

}
.c2{
   border: 3px black solid;
   background: white;
   width: 90px;
   height: 189px;
   float:left;
}
.c3{
   border: 3px black solid;
   background: white;
   width: 71px;
   height: 189px;
   float:left;
}
.rc1{
   border: 3px black solid;
   background: white;
  width: 68px;
   height: 110px;
}
.rc2{
   border: 3px black solid;
   background: #ffeea9;
   width: 68px;
   height: 76px;
}
.rmc1{
   border: 3px black solid;
   background: #ffeea9;
   width: 84px;
   height: 40px;
}
.rmc2{
   border: 3px black solid;
   background: #ffeea9;
   width: 84px;
   height: 70px;
}
.rmc3{
   border: 3px black solid;
   background: white;
   width: 84px;
   height: 76px;
}
.rlc1{
   border: 3px black solid;
   background: #ffeea9;
   width: 68px;
   height: 40px;
}
.rlc2{
   border: 3px black solid;
   background: black;
   width: 84px;
   height: 143px;
}
.r3c1{
   border: 3px black solid;
   background: white;
   width: 95px;
   height: 190px;
   float: left;
}
.r3c2{
   border: 3px black solid;
   background: #c73737;
   width: 64px;
   height: 190px;
   float: left;
}
.r3c3{
   border: 3px black solid;
   background: #ffeea9;
   width: 45px;
   height: 190px;
   float: left;
}
.r3cm1{
   border: 3px black solid;
   background: white;
   width: 89px;
   height: 125px;
}
.r3cm2{
   border: 3px black solid;
   background: #ffeea9;
   width: 89px;
   height: 62px;
}
.cm1{
   border: 3px black solid;
   background: white;
   width: 60px;
   height: 120px;
   float: left;
}
.cm2{
   border: 3px black solid;
   background: white;
   width: 23px;
   height: 120px;
   float: left;
}
.cm1c1{
   border: 3px black solid;
   background: #ffeea9;
   width: 55px;
   height: 80px;
}

.cm1c2{
   border: 3px black solid;
   background: #fecd06;
   width: 55px;
   height: 35px;
}
.solid{
   height: 400px;
}
.col-4{
   border: 3px black solid;
   width: 232px;
   height: 396px;
   float: left;

}
.col-5{
   border: 3px black solid;
background: white;
   width: 145px;
   height: 396px;
   float: left;
}
.col-6{
   border: 3px black solid;
   background: white;
width: 215px;
   height: 396px;
   float: left;
}
.r4c1{
   border: 3px black solid;
 background: white;
   width: 226px;
   height: 200px;
}
.r4c2{
   border: 3px black solid;
   background: white;
   width: 226px;
   height: 189px;
}
.rw1{
   border: 3px black solid;
   background: white;
   width: 139px;
   height: 200px;
}
.rw2{
   border: 3px black solid;
   background: white;
   width: 139px;
   height: 190px;
}
.rcc1{
   border: 3px black solid;
   background: #ffeea9;
   width: 220px;
   height: 60px;
}
.rcc2{
   border: 3px black solid;
   background: #86aade;
   width: 220px;
   height: 60px;
}
.rcc3{
   border: 3px black solid;
   background: black;
   width: 220px;
   height: 75px;
}
.r1cc1{
   border: 3px black solid;
   background: white;
   width: 60px;
   height: 183px;
   float: left;
}
.r1cc2{
   border: 3px black solid;
   background: white;
 width: 100px;
   height: 183px;
   float: left;
}
.r1cc3{
   border: 3px black solid;
 background: #ffeea9;
   width: 60px;
   height: 183px;
   float: left;
}
.r1cm1{
   border: 3px black solid;
   background: #c73737;
   height: 30px;
}
.r1cm2{
   border: 3px black solid;
   background: #fecd06;
   height: 150px;
}
.rw1c1{
   border: 3px black solid;
   background: #ffeea9;
   height: 194px;
   width: 62px;
   float: left;
}
.rw1c2{
   border: 3px black solid;
   background: white;
   height: 194px;
   width: 71px;
   float: left;
}
.rc1c1{
   border: 3px black solid;
   background: #ffeea9;
   height: 30px;
}
.rc1c2{
   border: 3px black solid;
   background: #fecd06;
   height: 161px;
}
.r2cc1{
   border: 3px black solid;
   background: white;
   height: 110px;
}
.r2cc2{
   border: 3px black solid;
   background: white;
   height: 280px;
}
.r3cc1{
   border: 3px black solid;
   background: white;
   height: 104px;
   width: 161px;
   float: left;
}
.r3cc2{
   border: 3px black solid;
   background: white;
   height: 104px;
   width: 42px;
   float: left;
}
.r4cc1{
   border: 3px black solid;
   background: white;
   height: 52px;
   width: 40px;
}
.r4cc2{
   border: 3px black solid;
   background: #ffeea9;
   height: 49px;
   width: 40px;
}
.r3cl1{
  background: black;
   height: 50px;
   width: 160px;
}
.r3cl2{
   border: 3px black solid;
   background: white;
   height: 50px;
   width: 160px;
}
.r4cl1{
   border: 3px black solid;
   background: #ffeea9;
   height: 48px;
   width: 80px;
   float: left;
}
.r4cl2{
   border: 3px black solid;
   background: #ffeea9;
   height: 48px;
   width: 74px;
   float: left;
}
.r5col-1{
   border: 3px black solid;
   background: white;
  height: 180px;
   width: 203px;

}
.r5col-2{
   border: 3px black solid;
   background: #ffeea9;
   height: 95px;
   width: 203px;

}
.r5cc1{
   border: 3px black solid;
   background: #c73737;
   height: 175px;
   width: 88px;
   float: left;
}
.r5cc2{
   border: 3px black solid;
   background: white;
   height: 175px;
   width: 109px;
   float: left;
}
.r5cl1{
   border: 3px black solid;
   background: #fecd06;
   height: 100px;
}
.r5cl2{
   border: 3px black solid;
   background: #86aade;
   height: 70px;
}